name: Build and deploy
on:
  workflow_dispatch:
  push:
  pull_request:
jobs:
  test-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          # Automatically uses version declared in package.json (`packageManager: pnpm@...`)
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint code
        run: pnpm lint

      - name: Run tests
        run: pnpm vitest run

      - name: Check types
        run: pnpm check-types

      - name: Build app
        run: pnpm build

      - name: Build API documentation
        run: pnpm build-docs

      - name: Create license report
        run: pnpm build-license-report;

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: test-and-build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Load artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: dist/

      - name: Assemble site
        run: |
          set -eux;

          mkdir -p site;
          touch site/.nojekyll;
          mv dist/www/* site/;
          mv dist/docs site/docs;

      - name: Setup git
        shell: bash
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: open-pioneer/trails-demo
          token: ${{ secrets.DEMO_DEPLOY_TOKEN }}
          git-config-name: "github-actions[bot]"
          git-config-email: "41898282+github-actions[bot]@users.noreply.github.com"
          folder: site
          target-folder: starter
